<!DOCTYPE html>
<html>
<head>
  <title>Admin Page</title>
  <style>
    /* DRIVER DELAY */
    /* Add your custom CSS styles for the admin page here */
  </style>
        <link rel="stylesheet" type="text/css" href="../style/style.css" />
        <script src="../js/index.js"></script>
    
</head>
<body>
  <h1>Welcome, Admin!</h1>
  <p>This is the admin page.</p>
  <div id="map"></div>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
  defer
></script>
</body>
</html>
