{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center">Welcome to the Admin Dashboard</h1>
    <div class="row justify-content-center">
        <div class="col-md-6 my-3">
            <a href="/users" class="btn btn-primary btn-lg btn-block">USERS</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 my-3">
            <a href="/buses" class="btn btn-primary btn-lg btn-block">BUSES</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 my-3">
            <a href="/analytics" class="btn btn-primary btn-lg btn-block">ANALYTICS</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 my-3">
            <a href="/trips" class="btn btn-primary btn-lg btn-block">TRIPS</a>
        </div>
    </div>
</div>
{% endblock %}
